<h1>Edit Club</h1>

<%= form_with model: @club, url: club_path(@club), method: :patch do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :address %>
  <%= form.text_field :address %>

  <%= form.label :sport %>
  <%= form.text_field :sport %>

  <%= form.label :price %>
  <%= form.number_field :price %>

  <%= form.submit "Update Club" %>
<% end %>

<%= link_to "Back", @club %>

