<h1><%= @club.name %></h1>

<p><%= @club.description %></p>
<p><strong>Address:</strong> <%= @club.address %></p>
<p><strong>Sport:</strong> <%= @club.sport %></p>
<p><strong>Price:</strong> <%= @club.price %></p>

<%= link_to "Subscribe!", new_club_subscription_path(@club), class:"btn btn-primary" %>

<%= link_to "Edit", edit_club_path(@club) %> |
<%= link_to "Delete", club_path(@club), method: :delete, data: { confirm: "Are you sure you want to delete this club?" } %> |
<%= link_to "Back", clubs_path %>
