<h1>New Service</h1>

<%= form_with(model: @service, url:  trainer_services_path(@trainer)) do |form| %>

  <div>
    <%= form.label :service_type %>
    <%= form.text_field :service_type %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :sport %>
    <%= form.text_field :sport %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.submit "Create Service" %>
  </div>
<% end %>
