<h1>Service Details</h1>

<p><strong>Trainer:</strong> <%= @service.trainer_id %></p>
<p><strong>Description:</strong> <%= @service.description %></p>
<p><strong>Service Type:</strong> <%= @service.service_type %></p>
<p><strong>Address:</strong> <%= @service.address %></p>
<p><strong>Sport:</strong> <%= @service.sport %></p>
<p><strong>Price:</strong> <%= humanized_money_with_symbol(@service.price) %></p>

