<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://s3-alpha-sig.figma.com/img/f225/8b6c/3c5a2b5d1c43258cd3fd53a9bd0d638d?Expires=1687132800&Signature=qpXEKIOIs3~Hpt2UWLxatlonz~uJe3B976qmKy~Ji8p4Ty20uZU5EvQ4MjxN9AJr9Gc0TAyevxUA7rTA~dR3VnysZdJyVUPNNrN-DgliwuIvTxsPPCU7pN1gU9LDCYtTQBqW7Ox0Z9iaW2UxbzMNE~tbCG3-ZsnV3UW9qNzLOm3bCzH6pRumzeTyzONOawC1e0T6gENa5oAqYbCOSLdUmCX2tEVKBSvyiU-KnM6bmCm8IRj7HKU81BQEMN4RPCCI94s5caWVX8LvtF0zZaW~zn-Z9ZdV5kGKHHreadE~eO2xA50mO-AaJOAl0ViIhnUnahSXDkJsW9lQpD0VmmdT3Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" %>
    <% end %>

<% if controller_name == 'trainers' && action_name == 'index' %>
  <%= form_with url: trainers_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a trainer"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
<% end %>

    <button class="navbar-toggler" type="button" color= data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">

            <%= link_to "Become a Trainer", new_trainer_path, class: "nav-link" %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My bookings", mybookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
