<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "full-logo.png" %>
    <% end %>

<% if controller_name == 'trainers' && action_name == 'index' %>
  <%= form_with url: trainers_path, method: :get, class: "search-form" do |f| %>
     <%= f.text_field :query,
      value: params[:query],
      class: "query-field",
      placeholder: "Location" %>
      <%= f.select(:sport, options_for_select(Trainer.all.map(&:sports).reject(&:blank?).map { |sport| sport.split(",") }.flatten.uniq, selected: params[:sport]), { :include_blank => 'sport'}, { class: "filter-field" }) %>
      <%= f.range_field :price, in: (Service.all.map(&:price).sort[0]..Service.all.map(&:price).sort[-1]), value: params[:price].to_i %>
      <%#= f.select(:price, options_for_select(Trainer.all.map(&:services).flatten.map(&:price).uniq, selected: params[:price]), { :include_blank => 'price'}, { class: "filter-field" }) %>

     <button class='btn btn-search' type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
     </button>
   <% end %>
 <% end %>

    <button class="navbar-toggler" type="button" color= data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
          <% if current_user.trainer  %>
              <%= link_to "Add an activity", new_trainer_service_path(current_user.trainer), class: "nav-link" %>
              <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "jumpn-default-profile-img.png", class: "avatar", alt: "dropdown menu" %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My Trainer Profile", trainer_path(current_user.trainer), class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else%>
              <%= link_to "Become a Trainer", new_trainer_path, class: "nav-link" %>
            <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "jumpn-default-profile-img.png", class: "avatar", alt: "dropdown menu" %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                <%= link_to "My bookings", mybookings_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path(@service, @trainer), data: {turbo_method: :delete}, class: "dropdown-item" %>

              </div>
            </li>
            <% end %>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
