<h1>New Review</h1>

<%= form_with(model: [@subscription.club, @subscription, @club_review]) do |form| %>

  <div class="field">
    <%= form.label :rating %>
    <%= form.select :rating, (1..5) %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Review' %>
  </div>
<% end %>
