<div class="container">
  <div class="row py-4">
    <h1>Order #<%= @order.id %></h1>
    <div class="col-md-3"><%= cl_image_tag @order.service.photo.key, width: '100%' %></div>
    <div class="col">
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>SERVICE</strong> <%= @order.service.title %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        </li>
      </ul>
      <%= link_to 'Go to your bookings', mybookings_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
