<h1>New Subscription</h1>

<%= form_with model: @subscription, url: club_subscriptions_path(@club) do |form| %>
  <%= form.label :total_price %>
  <%= form.number_field :total_price %>

  <%= form.label :start_date %>
  <%= form.date_select :start_date %>

  <%= form.label :end_date %>
  <%= form.date_select :end_date %>

  <%= form.submit "Create Subscription" %>
<% end %>

<%= link_to "Back", club_path(@club) %>
