<h1><%= @club.name %> - Subscription</h1>

<p><strong>Total Price:</strong> <%= @subscription.price %></p>


<h2>Club Reviews</h2>
<% @club_reviews.each do |review| %>
  <p>Rating: <%= review.rating %></p>
  <p>Comment: <%= review.comment %></p>
<% end %>

<%= link_to "Create a Review", new_club_subscription_club_review_path(@subscription.club, @subscription)%>

<%= link_to "Back", club_path(@club) %>
