<h1>New Review</h1>

<%= form_with(model: [@booking, @review], url: booking_reviews_path(@booking)) do |form| %>
  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit "Create Review" %>
  </div>
<% end %>
