

<div class="container pb-5">
  <div class="cards">
    <% @trainers.each_with_index do |trainer, i| %>
      <%= link_to trainer_path(trainer), class: "text-decoration-none mt-4 text-dark" do %>
        <div class="card-trip">
          <% if trainer.user.photo.attached? %>
            <%= cl_image_tag trainer.user.photo.key %>
          <% else %>
            <%= image_tag "athlete.jpg" %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2 class="mb-3"><%= trainer.user.first_name %> <%= trainer.user.last_name %></h2>
              <p><%= trainer.sports %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
