<h1 class="newTrainerTitle">New Trainer</h1>

<%= form_with(model: @trainer, url: trainers_path) do |form| %>
  <div class="sportsField">
    <%= form.label :sports %>
    <%= form.text_field :sports %>
  </div>

  <div class="descriptionField">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="submitTrainer">
    <%= form.submit "Create Trainer" %>
  </div>
<% end %>
