
<%= cl_image_tag @trainer.user.photo.key, class: "card-image" %>

<% if current_user&.trainer %>
<h1>Your Trainer Profile</h1>

<p><strong>Sports:</strong> <%= @trainer.sports %></p>
  <p><strong>Description:</strong> <%= @trainer.description %></p>
<% else %>
<h1>Trainer Details</h1>

<p><strong>Sports:</strong> <%= @trainer.sports %></p>
  <p><strong>Description:</strong> <%= @trainer.description %></p>
<% end %>

<table>
  <thead>


    <tr>
      <th>Type of service</th>
      <th>Price</th>
      <th>Sport</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @trainer.services.each do |service| %>
      <tr>
        <td><%= service.service_type %></td>
        <td><%= service.price %></td>
        <td><%= service.sport %></td>
        <td><%= service.description %></td>
      </tr>
    <% end %>
  </table>
