
<div class="trainer-section" data-controller="trainers-form">
  <div class="container trainer-container">
    <% if current_user&.trainer %>
      <div class="profile-banner d-flex pt-4">
        <% if @trainer.user.photo.attached? %>
          <%= cl_image_tag @trainer.user.photo.key, class: "card-image me-4" %>
        <% else %>
          <%= image_tag "jumpn-default-profile-img.png", class: "card-image me-4" %>
        <% end %>
        <div class="">
          <h1>Your Trainer Profile</h1>

          <h1 class="mb-3"><strong><%= @trainer.user.first_name %> <%= @trainer.user.last_name %></strong></h1>

          <p><strong>Sports:</strong> <%= @trainer.sports %></p>
          <p><strong>Description:</strong> <%= @trainer.description %></p>
          <% if @trainer.user == current_user %>
            <%= link_to "Add an activity", new_trainer_service_path(@trainer) , class: "btn btn-primary mr-2" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="profile-banner d-flex pt-4">
        <% if @trainer.user.photo.attached? %>
          <%= cl_image_tag @trainer.user.photo.key, class: "card-image me-4" %>
        <% else %>
          <%= image_tag "jumpn-default-profile-img.png", class: "card-image me-4" %>
        <% end %>
        <div class="">
          <h2>Trainer Details</h2>
          <h1 class="mb-3"><strong> <%= @trainer.user.first_name %> <%= @trainer.user.last_name %></strong></h1>
          <p><strong>Sports:</strong> <%= @trainer.sports %></p>
          <div class="mt-2 mb-2">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
          </div>
            <p class="mr-5"><strong>Description:</strong> <%= @trainer.description %></p>
            <% rating = 0.0 %>
            <% count = 0 %>
            <% @trainer.services.each do |service| %>
              <% if service.reviews.any? %>
              <% rating += service.reviews.map(&:rating).sum %>
              <% count += service.reviews.length %>
                <%#= (service.reviews.map(&:rating).sum)/service.reviews.length %>
              <% end %>
            <% end %>
            Average rating <%= (rating / count).round(1) %>
        </div>
      </div>
    <% end %>
  </div>

</div>
<div class="bg-white p-4">
  <% if current_user&.trainer %>


    <div class="container trainer-container">

        <table class="services-table">
          <thead>
            <tr>
              <th>Type of service</th>
              <th>Price</th>
              <th>Sport</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @trainer.services.each do |service| %>
              <tr>
                <td><%= service.service_type %></td>
                <td><%= service.price %></td>
                <td><%= service.sport %></td>
                <td><%= service.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="container trainer-container">

      <div class="services-section">
        <div class="training-plan-category w-25 me-5">
          <h2>Training Plans</h2>
          <% @trainer.services.each do |service| %>
            <% if service.service_type == "Training Plan" %>
              <div class="service-card">
                <%# <%= cl_image_tag service.photo.key, class: "card-image me-4" %>
                <div class="service-card-infos">
                  <p><strong>Type:</strong> <%= service.service_type %></p>
                  <p><strong>Price:</strong> <%= service.price %></p>
                  <p><strong>Sport:</strong> <%= service.sport %></p>
                  <p><%= service.description %></p>
                  <!-- Button trigger modal -->

                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_<%= service.id %>">
                        More information </button>
                        <!-- Modal -->
                      <div class="modal fade" id="exampleModal_<%= service.id %>" tabindex="-1" aria-labelledby="exampleModal_<%= service.id %>Label" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">

                              <h5 class="modal-title" id="exampleModal_<%= service.id %>Label"><%= service.title %></h5>

                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="col-12">
                            <h5>Description</h5>
                            <p><%= service.description %></p>
                          </div>

                              <%= simple_form_for [@trainer, service, @booking] do |form| %>
                                <%= form.hidden_field :start_time, :value => Date.today %>
                                <div class="d-flex align-items-center justify-content-between mb-4" style="width: 307.875px;">
                                  <p><strong>Price:</strong> <%= service.price %></p>

                                </div>
                              <% end %>
                                <%= form_with url: orders_path do %>
                                  <%= hidden_field_tag 'service_id', service.id %>
                                  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
                                <% end %>
                          </div>
                        </div>
                      </div>


                </div>

              </div>
            <% end %>
          <% end %>
        </div>

        <div class="service-category w-75">
          <h2>Sessions</h2>
          <div class="row align-items-start">
            <% @trainer.services.each do |service| %>
              <% if service.service_type == "Session" %>
                <div class="col-4">
                  <div class="service-card">
                    <%= cl_image_tag service.photo.key, class: "card-image me-4" %>
                    <div class="service-card-infos">
                      <p><strong>Type:</strong> <%= service.service_type %></p>
                      <p><strong>Price:</strong> <%= service.price %></p>
                      <p><strong>Sport:</strong> <%= service.sport %></p>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%= service.id %>">
                        More information
                      </button>
                                    <!-- Modal -->
                <div class="modal fade" id="exampleModal<%= service.id %>" tabindex="-1" aria-labelledby="exampleModal<%= service.id %>Label" aria-hidden="true">
                  <div class="modal-dialog modal-lg" id="sessions-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal<%= service.id %>Label"><%= service.title %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body" id="sessions-body">
                        <div class="row">
                          <div class="col-12">
                            <h5>Description</h5>
                            <p><%= service.description %></p>
                          </div>
                          <div class="col-md-6">
                            <h5>Location</h5>
                            <p class="mb-3"><%= service.address %></p>
                            <div style="width: 100%; height: 400px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                          </div>
                          <div class="col-md-6">
                            <div class="d-block no-border">
                              <div>
                              <h5>Start time</h5>
                              <p class="mb-3">Training Duration: <%= service.duration %> hours</p>
                              <%= simple_form_for Order.new do |form| %>
                              <%#= simple_form_for [@trainer, service, @booking] do |form| %>
                                <%= form.input :start_time,
                                as: :string,
                                label: false,
                                input_html: { data: { controller: "datepicker" }, class: "d-none", value: DateTime.now } %>
                                <div class="d-flex align-items-center justify-content-between" style="width: 307.875px;">
                                  <p><strong>Price:</strong> <%= service.price %></p>

                                </div>
                              <%# end %>
                                <%= hidden_field_tag 'service_id', service.id %>
                                <%= form.submit 'Purchase', class: 'btn btn-primary' %>
                              <% end %>
                          </div>
                              <%# <button type="button" class=""><%= link_to "Book", new_trainer_service_booking_path(@trainer, service), class: "btn" %>


                            </div>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
            <div>
          </div>

          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner">
            <h1>Reviews</h1>
              <% @reviews.each_slice(3).with_index do |reviews, i| %>
                <div class="carousel-item <%= 'active' if i == 0 %>">
                  <div class="row">
                    <% reviews.each do |review| %>
                      <div class="col-4">
                        <div class="review-card">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                          <% if review.booking.user.photo.attached? %>
                            <%= cl_image_tag review.booking.user.photo.key, class: "" %>
                          <% else %>
                            <%= image_tag "jumpn-default-profile-img.png", class: "" %>
                          <% end %>
                          <p class="stars"><% review.rating.times do %>
                            <span class="star">&#9733;</span>
                          <% end %></p>
                        </div>
                          <p>"<%= review.comment %>"</p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
